body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(219, 234, 249);
    color: rgb(50, 107, 88);
    
}
header{
    width: 400px;
    background-color: rgb(185, 231, 217);
    font-size: larger;
     
}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav li{
    display: block;
}
nav a{
    display: block;
    background-color: rgb(29, 114, 117);
    color: beige;
    border-bottom: thin solid beige;
    padding: 10px 20px;
    float: left;
    margin-left: 10px;
}
nav a:hover{
    color: rgb(29, 114, 117);
    background-color: beige;
}
#treepic{
    width: 250px;
    border: thin solid rgb(153, 0, 255);
    float: left;
}
#treepic img{
    width: 250px;
}
.clear{
    clear: both;
}