body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(231, 214, 212);
}
header{
    color:rgb(255, 255, 255);
    background-color:cadetblue;
    border-radius: 5px;
    text-align: center;
}
fieldset{
    background-color:rgb(135, 214, 245);
    box-shadow: 3px 3px 3px rgba(20,20,20,0.5);
}
legend{
    background-color: rgb(63, 63, 100);
    color: white;
    padding: 10px;
    border:black thin solid;
}
textarea{
    border-radius: 7px;  
    border: 0;
    padding: 10px;
    font-size: 1.2em;
    border-bottom: rgb(247, 125, 125) thin solid;
    


}
textarea:focus{
    background-color: rgb(255, 239, 223);
}
.form-row, .check-row{
    display: flex;
    gap: 10px; 
    margin-top: 10px;
    
}
.form-row label{
    width: 150px;
    text-align: right;
}
.spacer{
    width: 150px;
    text-align: right;
}
.form-row label, .spacer{
    align-items: center;
}
input[type = "submit"]{
    background-color:rgb(15, 34, 34) ;
    color: white;
    padding: 5px;
}
input:not([type = "submit"]){
    padding: 10px;
    font-size: 1.2em;
    
    border-radius: 5px;
    border: 0;
    border-bottom: black thin solid;
}
input:not([type = "submit"]):focus{
    background-color: rgb(228, 221, 208);
}

@media only screen and (max-width: 600px){
    .form-row, .check-row{
        flex-direction: column;
    }
    .form-row label, .spacer {
        text-align: left;
    }
    input[type="submit"]{
        width: 100%;
        padding: 10px;
        font-size: 1.2em;
    }
}