body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    background-color: rgb(181, 181, 236);
    
}
header h1{
    margin: 0;

}
nav a{
    display: block; 
    padding: 10px 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline; 
}
nav{
    background-color: rgb(117, 155, 155);
    display: flex;
    justify-content: space-around;
}
.sidebar{
    display: flex;
    
    padding: 20px;
    

}
.mainrow{
    
    border-radius: 10px ;
    display: flex;   
    flex-flow: row wrap;
    background-color: rgb(196, 246, 248); 
    width: 450px;
    height: 800px;
    padding: 20px;
    
}
.mainrow img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: auto;
}
.row{
    display: flex;
    justify-content: space-between;
    

     
}
.odin {
    width: 250px;
    border: thin solid black;
    box-shadow: 10px 8px 3px 0 rgba(50, 50, 50, 0.5);
    margin: 10px;

}
.odin img{
    width: 100%;

}
@media only screen and (max-width: 650px) {
    body{
        background-color:cornsilk;
        
    }
    nav{
        flex-direction: column;
    }
    
    .row{
        flex-direction: column;
    }
    nav a{
        border-bottom:thin solid beige;
        padding-left: 30px;
    }
    .card{
        width: 100%;
        margin: 10px;
    }
    .main-card{
        order: -1;
    }
    .odin {
        width: 95%;
        margin: 10px;
    }
    .sidebar {
        flex-direction: column-reverse;
    }
  
    
}