body {
    color:rgb(6, 83, 102);
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    background-color:#e2f6f9;
}

#emphasize {
    color:rgb(30, 0, 255);
    font-size:large;
}
.deemphasize {
    color:cadetblue;
}
.different {
    background-color: rgb(255, 172, 172);
}
#emphasize2 {
    color:rgb(30, 0, 255);
    font-size:large;
}
.deemphasize2 {
    color:cadetblue;
}
#emphasize3 {
    color:rgb(30, 0, 255);
    font-size:large;
}
.deemphasize3 {
    color:cadetblue;
}
#emphasize4 {
    color:rgb(30, 0, 255);
    font-size:large;
}
.deemphasize4 {
    color:cadetblue;