body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:beige;
}

nav a{
   
    background-color: rgb(255, 8, 0); 
    color: rgb(255, 255, 255);
    border-bottom: thin solid beige;
    padding: 10px 20px;
    margin: 5px;   
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    text-transform: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}
.flex-container{
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-around;

}
nav a:hover{
    color: rgb(29, 114, 117);
    background-color: beige;
    
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.mainrow{
    border-radius: 10px ;
    display: flex;   
    flex-flow: row wrap;
    background-color: rgb(196, 246, 248); 
    width: 200px;
    padding: 20px;
    
    
    
}
.videoGames2 {
    display: flex;
    padding: 20px;
  }



header{
    background-color: rgb(196, 246, 248);
    width: 500px;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 0;
    font-size: larger;

}
/*.videoGames {
    display: flex;
    padding: 20px;
  }*/

.videoGamesGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 70px;
 } 
.card{
    width: 300px;
    height: auto;
    background-color: white;
    border: 3px solid #c91111;
    box-shadow:  15px 8px rgba(0, 0, 0, 0.1);
}
.card img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
 }
.card h3 {
    margin: 15px;
    font-size: 18px;
  }
.card p {
    margin: 15px;
    font-size: 15px;
    color: #8a4e4e;
  }

.footer1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4, 20px);
}
.footer2{
    display: grid;
    justify-content: center;
    align-items: center;
    
}