body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:cornsilk;
}
nav a{
   
    background-color:rgba(240, 91, 6, 0.548); 
    color: rgb(255, 255, 255);
    border-bottom: thin solid rgb(196, 196, 196);
    padding: 10px 20px;
    margin: 5px;   
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    text-transform: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
header{ 
    max-width: auto;
    text-align: center;
    background-color: rgb(255, 115, 0);
    border-radius: 10px;
}
nav a:hover{
    color: rgb(24, 116, 121);
    background-color: rgba(255, 255, 255, 0.89);
    
}
.current {
    color:rgb(104, 255, 242);
} 
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;


} 

.sidebar{
    
    max-width: auto;
    
    order: 0;
    

}
.mainrow{
    width: 400px;
    order: 1;
    margin-left: 20px;
    border: thin solid black;
    border-radius: 10px;
    background-color: white;
    

}    
.mainrow img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}
.schedule {
    border:black thin solid;
    margin: 5px auto;
    caption-side: top;
    border-spacing: 0;
    border-collapse: collapse;
}
.schedule thead {
    background-color: rgba(69, 207, 241, 0.705);
}
.schedule tfoot {
    background-color: rgba(69, 207, 241, 0.705);
}
.schedule tbody tr:nth-child(odd){
    background-color: rgb(226, 209, 189);
}
table{
    width: 100%;

} 
.last{
    background-image: url('ball.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 80px;
    height: 60px;
}
.border{
    border: rgb(252, 134, 0) thin solid;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    max-width: 600px;
}
figure img{
    width: 100%;
    height: auto;
}
.form-row, .check-row{
    display: flex;
    gap: 10px; 
    margin-top: 10px; 
    align-items: center;
}
input[type = "submit"]{
    background-color:rgb(2, 48, 48) ;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
input[type = "submit"]:hover{
    background-color: bisque;
}
input:not([type = "submit"]){
    padding: 10px;
    font-size: 1.2em;
    
    border-radius: 5px;
    border: 0;
    border-bottom: black thin solid;
}
input:not([type = "submit"]):focus{
    background-color: blanchedalmond;
}
input:invalid{
    border-color: red;
}
input:valid{
    border-color: green;
}
.color{
    background-color: rgba(255, 204, 146, 0.842);
}
.video-container{
    position: relative;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

}
.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.row{
    display: flex;
    justify-content: space-between;
         
}
.nba {
    width: 700px;
    border: thin solid black;
    box-shadow: 10px 8px 3px 0 rgba(50, 50, 50, 0.5);
    margin: 10px;
    

}
.nba img{
    width: 100%;
}


@media (max-width: 760px){
    body{
        font-size: 16px;
    }
    nav a{
        display: block;
        padding: 12px 20px;
        margin: 2px 0;
        font-size: 18px;
        text-align: center;
    }
    .flex-container{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .sidebar {
        order: 0;
    }
    .mainrow {
        width: 100%;
        margin-left: 0;
    
    }
    .mainrow img{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    table{
        width: 100%;
        font-size: 14px;
        overflow-x: auto;
        display: block;
    }
    .schedule{
        margin: 10px 0;
    }
    .schedule caption{
        font-size: 16px;
        text-align: center;
    }
    .schedule tbody tr:nth-child(odd){
        background-color: rgb(245, 245, 245);
    }
    .border{
        padding: 8px;
        margin-bottom: 8px;
    }
    .form-row, .check-row{
        flex-direction: column;
    }
    .row{
        flex-direction: column;
    }
    .nba {
        width: 95%;
        margin: 10px;
    }
    .card{
        width: 100%;
        margin: 10px;
    }
    .main-card{
        order: -1;
    }
    input[type="submit"], input:not([type="submit"]){
        padding: 12px;
        font-size: 1.2em;
        width: 100%;
    }
    .video-container iframe{
        width: 100%;
        height: 100%;
    }
}
 