body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(64, 52, 236); 
    background-image: url('tagumbckgrnd.jpg') ;
}
main{
    font-size: larger;
    color: rgb(128, 126, 255);
    background-position: right;
    background-repeat: no-repeat;
    background-image: url('tagumLogo.png'); 
    
}
.list{
    list-style-image: url('pin.png');
}
nav a{
    color:rgb(32, 16, 47)
}
.current {
    color:rgb(189, 187, 183)
} 


